@{
    ViewData["Title"] = "Strona startowa";
}

<div class="text-center">
    <h1 class="display-4">Serwus!</h1>
    <p>Zobacz <a href="https://pastebin.com/tdHQZzHz">wszystkie odcinki online Świata według Kiepskich</a>.</p>
    <p>Zobacz <a href="https://pl.wikipedia.org/wiki/Lista_odcink%C3%B3w_serialu_%C5%9Awiat_wed%C5%82ug_Kiepskich">lista tytułów odcinków Świata według Kiepskich</a>.</p>
</div>
