@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Postacie";
}
<h1>Oto postac i jej ilosc</h1>
<p>
        
       @for (int i = 0; i < 5; i++)
       {
           <li>@ViewData["Message"]</li>
       }
</p>
